body{
    margin: 0;
    padding: 0;
    background-color: #0d1223;

}

.nav{
    background-color: #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    
}

.nav .logo {
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 0.5px;
}

.nav ul li a {
  color: #cbd5e1;
  font-weight: 520;
  text-decoration: none;
  font-size: 18px;

}

.nav ul li a:hover{
     color: #38bdf8;
     }


.nav ul {
  display: flex;
  list-style: none;
  gap: 28px;
}

#task{
  
  color: white;
  font-size: 35px;
  font-weight: 1000;
  margin: 80px 200px;

}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #0d1223;  
  max-width: 700px;
  margin: -20px 270px;
  row-gap: 20px;
  column-gap: 20px;
  grid-auto-rows: 180px;
  padding: 15px;

}

.container div {
  background-color:#08224b;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 300px;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.container div:hover {
  transform: scale(1.1);
  transition: 0.3s;
}